# Python
__pycache__/
*.py[cod]
*$py.class
.env
venv/
env/
.venv/
*.egg-info/
.pytest_cache/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
**/build/

# Android
**/android/.gradle/
**/android/captures/
**/android/local.properties
**/android/**/generated/
**/android/app/debug/
**/android/app/profile/
**/android/app/release/

# iOS
**/ios/Pods/
**/ios/Flutter/.last_build_id
**/ios/Runner.xcworkspace/xcuserdata/
**/ios/Runner.xcodeproj/project.xcworkspace/
**/ios/Runner.xcodeproj/xcuserdata/

# IDEs and Editors
.idea/
.vscode/
*.iml
*.ipr
*.iws

# OS files
.DS_Store
Thumbs.db
